.container {
	width: 960px;
	margin: 0 auto;
}

header, main, aside, footer {
	height: 100px;
	border: solid 1px black;
	background-color: grey;
}


main, aside {
	width: 45%;
	float: left;
	height: 400px;
	margin: 15px;
}

footer {
	clear: both;
}

aside {

}

