body {
	background: black;
	color: white;
}

img{
	border-radius: 50%;
}

 li{
	list-style: none;
	text-decoration: none;

}

ul:first-child li{
	display: inline-block;
	/*font-size: 25px;*/
	
}

a{
	text-decoration: none;
	color: white;

}

